import { Inject, Injectable } from "@produce8/pegasus";

@Injectable()
export class {{name}}Port {
    constructor(@Inject({{name}}Adapter) private readonly adapter: {{name}}Adapter) {
    }
    execute() {
        return this.adapter.execute();
    }
}